.inline {
  align-items: center;
  color: var(--pho-color-primary);
  display: inline-flex;
  font-family: var(--pho-font-terminal);
  justify-content: center;
  text-shadow: var(--pho-glow-primary);
}
